future_doc/NetMonitor_vss/config/DeployConfig.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<!ELEMENT DeployConfig ((Services, Databases))>
<!ELEMENT Services ((sysfront, sysquery, syseventcounter, fibproxy, sysfibclient, sysagent))>
<!ELEMENT sysfront ((Service+))>
<!ATTLIST sysfront
	comment CDATA #IMPLIED
>
<!ELEMENT sysquery ((Service))>
<!ATTLIST sysquery
	comment CDATA #IMPLIED
>
<!ELEMENT syseventcounter ((Service+))>
<!ATTLIST syseventcounter
	comment CDATA #IMPLIED
>
<!ELEMENT fibproxy ((Service+))>
<!ATTLIST fibproxy
	comment CDATA #IMPLIED
>
<!ELEMENT sysfibclient ((Service))>
<!ATTLIST sysfibclient
	comment CDATA #IMPLIED
>
<!ELEMENT sysagent ((Service+))>
<!ATTLIST sysagent
	comment CDATA #IMPLIED
>
<!ELEMENT Service ((Agent* , Host*))>
<!ATTLIST Service
	address CDATA #IMPLIED
	comment CDATA #IMPLIED
	item CDATA #IMPLIED
	type (sysfront | sysagent) #IMPLIED
>
<!ELEMENT Agent EMPTY>
<!ATTLIST Agent
	comment CDATA #IMPLIED
	name CDATA #REQUIRED
>
<!ELEMENT Host EMPTY>
<!ATTLIST Host
	comment CDATA #IMPLIED
	name CDATA #REQUIRED
>
<!ELEMENT Databases ((Database))>
<!ELEMENT Database EMPTY>
<!ATTLIST Database
	dbname CDATA #REQUIRED
	ip CDATA #REQUIRED
	name CDATA #FIXED "sysquery"
	password CDATA #REQUIRED
	port CDATA #REQUIRED
	username CDATA #REQUIRED
>
