future_doc/NetMonitor_vss/datamodel/commonEnv/copy.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT copylist (copy*)>
<!ELEMENT copy (item*)>
<!ATTLIST copy
	MDBTable CDATA #REQUIRED
	MDBUsage CDATA #REQUIRED
	XTPField CDATA #REQUIRED
	XTPComment CDATA #REQUIRED
>
<!ELEMENT item EMPTY>
<!ATTLIST item
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	description CDATA #REQUIRED
>
