future_doc/NetMonitor_vss/datamodel/commonEnv/DB.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT DB (schemas, tableGroups, entities, checkrights?)>
<!ATTLIST DB
	author CDATA #REQUIRED
	version CDATA #REQUIRED
	notnull (no) #REQUIRED
	iskey (no) #REQUIRED
	order (asc) #REQUIRED
	unique (no) #REQUIRED
>
<!ELEMENT schemas (schema*)>
<!ATTLIST schema
	name CDATA #REQUIRED
>
<!ELEMENT schema (tableGroup*)>
<!ATTLIST tableGroup
	name CDATA #REQUIRED
>
<!ELEMENT tableGroup (setColumn | setIndex)*>
<!ATTLIST setColumn
	columnName CDATA #REQUIRED
	tableName CDATA #IMPLIED
	setIskey (no | yes) #IMPLIED
	setNotnull (no | yes) #IMPLIED
>
<!ELEMENT setColumn EMPTY>
<!ATTLIST setIndex
	indexName CDATA #REQUIRED
	tableName CDATA #IMPLIED
	setUnique (no | yes) #IMPLIED
	setDelete (yes) #IMPLIED
>
<!ELEMENT setIndex EMPTY>

<!ELEMENT tableGroups (tables*)>
<!ELEMENT tables (table*)>
<!ATTLIST tables
	group CDATA #REQUIRED
>
<!ELEMENT table (Columns, Index)>
<!ATTLIST table
	name CDATA #REQUIRED
	title CDATA #REQUIRED
	description CDATA #REQUIRED
>
<!ELEMENT Columns (Column*)>
<!ATTLIST Columns
	ref CDATA #IMPLIED
>
<!ELEMENT Column EMPTY>
<!ATTLIST Column
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	label CDATA #REQUIRED
	description CDATA #IMPLIED
	default CDATA #IMPLIED
	notnull (no | yes) #IMPLIED
	iskey (no | yes) #IMPLIED
	originaltype CDATA #REQUIRED
	basetype CDATA #REQUIRED
	length CDATA #REQUIRED
	precision CDATA #REQUIRED
>
<!ELEMENT Index (defineIndex*)>
<!ELEMENT defineIndex (key*)>
<!ATTLIST defineIndex
	name CDATA #REQUIRED
	unique (yes | no) #IMPLIED
	label CDATA #REQUIRED
>
<!ELEMENT key EMPTY>
<!ATTLIST key
	name CDATA #REQUIRED
	order (asc | desc) #IMPLIED
>
<!ELEMENT entities (Entity*)>
<!ELEMENT Entity ((Field | Ref)*)>
<!ATTLIST Entity
	name CDATA #REQUIRED
	title CDATA #REQUIRED
	description CDATA #REQUIRED
>
<!ELEMENT Field EMPTY>
<!ATTLIST Field
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	label CDATA #REQUIRED
	description CDATA #IMPLIED
	notnull (no | yes) #IMPLIED
	iskey (no | yes) #IMPLIED
>
<!ELEMENT Ref EMPTY>
<!ATTLIST Ref
	entity CDATA #REQUIRED
	iskey (yes | no) #IMPLIED
>
<!ELEMENT checkrights (checkfields, checktables)>
<!ELEMENT checkfields (checkfield*)>
<!ELEMENT checkfield EMPTY>
<!ATTLIST checkfield
	name CDATA #REQUIRED
	default (yes | no) #REQUIRED
>
<!ELEMENT checktables (checktable*)>
<!ELEMENT checktable (checkitem*)>
<!ATTLIST checktable
	group CDATA #REQUIRED
	name CDATA #REQUIRED
>
<!ELEMENT checkitem EMPTY>
<!ATTLIST checkitem
	name CDATA #REQUIRED
	fieldname CDATA #IMPLIED
	default (yes | no) #IMPLIED
	convertfunction CDATA #IMPLIED
>
