future_doc/NetMonitor_vss/datamodel/commonEnv/UFEntity.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT Entity ((Field|Ref)*)>
<!ATTLIST Entity
	name CDATA #REQUIRED
	title CDATA #REQUIRED
	description CDATA #REQUIRED
>
<!ELEMENT UFEntityModel (Entity*)>
<!ELEMENT Field EMPTY>
<!ATTLIST Field
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	label CDATA #REQUIRED
	description CDATA #IMPLIED
	default CDATA #IMPLIED
	notnull (no|yes) #IMPLIED
	iskey (no|yes) #IMPLIED
>
<!ELEMENT Ref EMPTY>
<!ATTLIST Ref
	entity CDATA #REQUIRED
	iskey (yes|no) #IMPLIED
>
